# Ignore everything in configMaps directory
manifest/configMaps/*

# Don't ignore .gitkeep
!manifest/configMaps/.gitkeep

# Ignore VS Code configuration directory
.vscode




#remove from local cach
## git rm -r --cached .vscode

#remove from git history
## git filter-branch --force --index-filter "git rm -r --cached --ignore-unmatch .vscode" --prune-empty --tag-name-filter cat -- --all

# Push the changes forcefully to GitHub
## git push origin --force --all